# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Mac
.DS_Store

# Training outputs
runs/
yolo26s_model/
yolo26s_trained/
efficientnetv2s_model/
efficientnetv2s_trained/

result_video.mp4

# Models
*.pt
*.pth
*.yaml
*.zip
!example_yaml.yaml


football_train/
football_val/
football_test/